body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.first {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 150px 250px;
    padding-top: 0;
    margin: 0;
}

.firstcontent {
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 100px;
}

.headerlinks {
    display: flex;
    column-gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0px;
}

.firstbutton {
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    padding: 6px 24px;
    color: #F9FAF8;
}

.subtext{
    color: #cfcfcf;
}


.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    align-items: start;
}

.middle {
    display: flex;
    justify-content: center;
}

.placeholder {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48px;
    flex: 1;
    padding: 100px 150px;
}

.box {
    background-color: white;
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 4px;
}

.informationheader {
    font-weight: bolder;
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    margin: 48px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.boxntext {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 150px;
}

.boxtext {
    text-align: center;
    color: #3b4757;
    margin-top: 6px;
}

.second {
    padding-bottom: 100px;
}

.third {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    max-width: 825px;
    margin-bottom: 0;
}

.source {
    color: #1F2937;
    font-weight: bolder;
    align-self: end;
    margin-top: 0;
    font-size: 24px;
    padding-right: 36px;
}

.quotebox {
    display: flex;
    flex-direction: column;
}

.fourth {
    padding: 96px;
    margin: auto;
}

.container {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 24px;
    display: flex;
    padding: 48px 125px;
    border-radius: 8px;
    align-items: center;
    gap: 150px;
}

.fourth p {
    color: #E5E7EB;
    margin-top: 4px;
    margin-bottom: 0px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.secondbutton {
    background-color: #3882F6;
    border-radius: 6px;
    font-weight: bold;
    padding: 6px 24px;
    color: #F9FAF8;
    border-color: #F9FAF8;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
}

.ctatext {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 36px;
    font-size: 20px;
}